{% load static %}

<div class="radio-inputs">
    <div class="row">
        <div class="col-sm-3">
            <label >
            <input class="radio-input"  type="radio" name="rol" id="id_input_rol_1" value="PROFESIONAL">
            <span class="radio-tile">
                <span class="radio-icon">
                    <img src="{% static "images/teacher.png" %}" alt="teacher">
                </span>
                <span class="radio-label fw-bold mt-3">Profesional</span>
                <span class="radio-label text-secondary">
                    Gestiona todos tus proyectos software. 
                </span>
            </span>
            </label>
        </div>
        <div class="col-sm-3">
            <label>
            <input class="radio-input" type="radio" name="rol" id="id_input_rol_2" value="ESTUDIANTE" checked="true">
            <span class="radio-tile">
                <span class="radio-icon">
                <img src="{% static "images/student.png" %}" alt="student" >
                </span>
                <span class="radio-label fw-bold mt-3">Estudiante</span>
                <span class="radio-label">
                Gestiona todos tus desarrollos de software.
                </span>
            </label>
        </div>
        <div class="col-sm-3">
            <label>
            <input class="radio-input" type="radio" name="rol" id="id_input_rol_2" value="DESARROLLADOR" >
            <span class="radio-tile">
                <span class="radio-icon">
                <img src="{% static "images/student.png" %}" alt="student" >
                </span>
                <span class="radio-label fw-bold mt-3">Desarrollador</span>
                <span class="radio-label">
                Gestiona todos tus desarrollos de software.
                </span>
            </label>
        </div>
    </div>
</div>